<ol class="post-list">
    {{#each posts}}
  <li>
    <article class="post">
      <div class="title">
        <span><a href="/post/{{id}}"></a></span>
        <span style="float:right">Posted By {{user.username}} on {{created_at}} </span><br>
        <span style="float:right">{{comments.length}} comment(s) </span>
      </div>
      <div class = "content">
          <p>{{post_text}}</p>
      </div>
    </article>
  </li>
  {{/each}}
</ol>